<!-- TODO - Convert this to CoffeeScript -->
<%= erb(:graph_data, :layout => false) %>

<div id="container">
  <div class="title">
    Dash
  </div>
  <div id="graph"></div>
  <div id="numbers">
    <div class="fine number">
      <strong>Visits</strong>
      <var class="darkgray">
        <%= @today.visits %>
      </var>
      <em>
        <br/>Yesterday: <b><%= @yesterday.visits %></b>
        <br/>SDLW: <b><%= @sdlw.visits %></b>
      </em>
    </div>
    <div class="fine number">
      <strong>Revenue</strong>
      <var class="darkgray">
        <%= @today.revenue %>
      </var>
      <em>
        <br/>Yesterday: <b><%= @yesterday.revenue %></b>
        <br/>SDLW: <b><%= @today.revenue %></b>
      </em>
    </div>
    <div class="fine number">
      <strong>Checkouts</strong>
      <var class="darkgray">
        <%= @today.checkouts %>
      </var>
      <em>
        <br/>Yesterday: <b><%= @yesterday.checkouts %></b>
        <br/>SDLW: <b><%= @sdlw.checkouts %></b>
      </em>
    </div>
    <div class="fine number">
      <strong>Basket Size</strong>
      <var class="darkgray">
        <%= @today.basket_size %>
      </var>
      <em>
        <br/>Yesterday: <b><%= @yesterday.basket_size %></b>
        <br/>SDLW: <b><%= @sdlw.basket_size %></b>
      </em>
    </div>
    <div class="fine number">
      <strong>Conversion Rate</strong>
      <var class="darkgray">
        <%= @today.formatted_conversion_rate %>
      </var>
      <em>
        <br/>Yesterday: <b><%= @yesterday.formatted_conversion_rate %></b>
        <br/>SDLW: <b><%= @sdlw.formatted_conversion_rate %></b>
      </em>
    </div>
  </div>
</div>
